<section class="row p-2 m-0 bg bg-gradient h-75">
    <article class="col-2 align-content-center">
        <img class="border rounded-circle w-100 border-2 border-dark" src="assets/anup-salve.JPEG" alt="anup salve" />
    </article>
    <h1 class="col-5 d-inline overflow-hidden align-content-center"><pre class="d-inline-block m-0 p-0 fw-bolder">{{text}}{{spaces}}{{dots}}</pre></h1>
    <div class="col-5 align-content-center">
        <div class="d-flex flex-column" *ngIf="startSnakeGame">
            <ng-container *ngFor="let row of grid">
                <div class="row-box m-0 p-0">
                    <ng-container *ngFor="let col of row">
                        <span class="box d-inline-flex m-0 p-0"
                            [ngClass]="col == 0 ? 'bg-transparent' : 'bg-dark'"
                            ></span>
                    </ng-container>
                </div>
            </ng-container>    
        </div>
    </div>
</section>
<!-- Add Projects -->
<section class="row h-75 m-0 p-2">
<!-- Technologies -->
    <h2 class="my-3 fw-bolder text-center">What I do...</h2>
    <div class="d-flex" ngbAccordion>
        <ng-container *ngFor="let key of skills.keys">
            <div class="d-flex flex-column align-items-center m-1 p-1" ngbAccordionItem>
                <h4 class="m-1 text-center fw-bolder" ngbAccordionHeader>
                    <button ngbAccordionButton>{{skills[key].content}}</button>
                </h4>
                <div ngbAccordionBody>
                    <div ngbAccordionCollapse>
                        <ng-template>
                            <ul class="list-group list-group-horizontal d-flex flex-wrap align-items-start justify-content-center">
                                <ng-container *ngFor="let skill of skills[key].data">
                                    <li  class="list-group-item badge badge-primary m-2 p-2 border rounded">
                                        {{skill}}
                                    </li>
                                </ng-container>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>    
    </div>
</section>
<div>
    <!-- Contact Me -->
</div>