<header class="p-3 bg-dark">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Anup</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-content-center p-2 m-0 bg-primary bg-gradient  h-75">
    <picture class="d-flex justify-content-center align-items-center p-2">
        <img class="border rounded-circle border-white w-50 bg-white p-1 img-fluid" src="assets/anup-salve.JPEG" alt="photo of anup salve" />
    </picture>
    <h1 class="align-content-center h-50 w-50 fw-bolder text-white">{{text}}</h1>
</section>
<!-- Add Projects -->
<section class="row m-3 p-3" id="skills">
<!-- Technologies -->
    <h2 class="my-3 fw-bolder text-center">What I do...</h2>
    <div class="w-75 m-3 mx-auto" ngbAccordion>
        <ng-container *ngFor="let key of skills.keys">
            <article ngbAccordionItem>
                <h4 ngbAccordionHeader class="m-0">
                    <button ngbAccordionButton>
                        {{skills[key].content}}
                    </button>
                </h4>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <ul class="list-group list-group-horizontal d-flex flex-wrap align-items-start justify-content-center">
                                <ng-container *ngFor="let skill of skills[key].data">
                                    <li  class="list-group-item badge badge-primary border rounded m-2">
                                        {{skill}}
                                    </li>
                                </ng-container>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </article>
        </ng-container>    
    </div>
</section>
<footer class="h-auto p-2 bg-black text-white m-0" id="contact">
    <h3 class="m-0 p-3">Contact me</h3>
    <p class="m-0 pb-3 d-flex justify-content-center">
        <a class="px-3" href="mailto:anupsalve8@gmail.com">
            <img class="logo border rounded-circle" src="assets/gmail.webp" alt="gmail logo" />
        </a>
        <a class="px-3" href="https://linkedin.com/in/anupsalve" target="_blank">
            <img class="logo border rounded-circle" src="assets/linkedin.webp" alt="linkedin logo" />
        </a>
        <a class="px-3" href="https://github.com/anupwritescode" target="_blank">
            <img class="logo border rounded-circle" src="assets/github.png" alt="github logo" />
        </a>    
    </p>
</footer>