.logo {
    width: 2rem;
    height: 2rem;
}
.level {
    height: 5px;
    width: 10px;
    margin: 5px 2px 2px 2px;
}
.cursor {
    width: 2px;
    height: 0.9em;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    opacity: 1;
    animation: blink 1.2s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}